@import "../../../node_modules/bootstrap/scss/_variables.scss";

.normal:hover {
  background-color: rgba(0,0,0,0.01);
}

.normal {
  border: 1px solid rgba(0,0,0,0.1);
  display: inherit;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin-bottom: 1rem;
}
