@import "../../../node_modules/bootstrap/scss/_variables.scss";

.normal:hover {
  background-color: rgba(0,0,0,0.01);
}

.normal {
  border: 1px solid rgba(0,0,0,0.1);
  display: inherit;
  flex-direction: column;
  flex: 0 1 400px;
  justify-content: space-between;
  max-width: 48%;
  padding: 10px;
}
