@font-face{
    font-family:'clr';
    font-style:normal;
    font-weight:400;
    src:local('Clear Sans'),url(./fonts/400.woff) format('woff')
}

@font-face{
    font-family:'clr';
    font-style:normal;
    font-weight:700;
    src:local('Clear Sans Bold'),url(./fonts/700.woff) format('woff')
}

