@import "~bootstrap/scss/variables";

/* Colors */
$body-bg:    #000028;
$body-color: $gray-lightest;

/* Typography */
$font-family-sans-serif: "clr", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;
