@import "../../../node_modules/bootstrap/scss/_variables.scss";

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-self: stretch;
  margin-top: 2%;
  margin-bottom: 2%;
}
