.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ytThumbnail {
    max-width: 100px;
    max-height: 56px;
    margin-right: 5px;
}

.ytTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 80%;
}
